.intro-text h2{
    padding: 1.25rem 1rem 0 0;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
}

.intro-text p{
    padding: 1.25rem 0 1.25rem 0;
}

.shop{
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
    margin-bottom: 4rem;
}

.hero-img-btm{
    margin-top: 4rem;
}

@media only screen and (min-width: 768px){
    .shop{
        margin-bottom: 0;
    }

    .intro-text h2{
        padding: 0;
    }